#textdomain wesnoth-ZitU

[scenario]
	{GSCENARIO}

	id=04_Shadowed_Sands
	name= _ "Shadowed Sands"
	map_data="{LD maps/Shadowed_Sands.map}"
	next_scenario=05_Mercenary_Work

	turns=30
	victory_when_enemies_defeated=no

	{DEFAULT_MUSIC_PLAYLIST}
	{DEFAULT_SCHEDULE_DAWN}

	{COMMON_DEATHS}

	#define RAZ_LAND
		x=54-99
		y=1-99
	#enddef

	[side]
		{SIDE_1}
		gold=100
		fog=yes
	[/side]

	[side]
		side=2
		controller=ai
		team_name=Enemy
		user_team_name=_ "Undead"

		type=Dark Sorcerer
		id=Leddon
		name= _ "Leddon"

		gold=100
		recruit=Skeleton,Skeleton Archer,Ghost,Soulless,Ghoul

		{FLAG_VARIANT6 ragged}

		[ai]
			[avoid]
				{RAZ_LAND}
			[/avoid]
		[/ai]
	[/side]
	{STARTING_VILLAGES_ALL 2}

	[side]
		side=3
		controller=ai
		share_vision=none
		team_name=Friendly,Enemy
		user_team_name= _ "Razhaikib"

		type=Dune Cataphract
		id=Border Guard
		name= _ "Basraj ibnJad"

		gold=0
		{NO_INCOME}
		{FLAG_DUNEFOLK}

		[ai]
			ai_algorithm=idle_ai
		[/ai]
	[/side]

	[event]
		name=prestart
		{SIDE_SETUP_1}

		[capture_village]
			side=3
			terrain="*^V*"
			{RAZ_LAND}
		[/capture_village]

		[store_locations]
			variable=locs
			terrain="*^V*"
			[not]
				{RAZ_LAND}
			[/not]
		[/store_locations]

		[foreach]
			array=locs
			variable=loc

			[do]
				[event]
					name=capture
					delayed_variable_substitution=no

					[filter]
						side=1
						x,y=$loc.x,$loc.y
					[/filter]

					[lua]
						code=<<
							local x,y
							x = wesnoth.get_variable("x1")
							y = wesnoth.get_variable("y1")

							local types = {"Soulless", "Skeleton", "Skeleton Archer", "Revenant", "Deathblade", "Ghost", "Bone Shooter", "Ghoul", "Necrophage"}

							for i=1,math.max(1, math.ceil(x / 15)) do
								wexlfu.map.put_unit_vacant{
									type = wexlfu.math.choice(types),
									side = 2,
									x = x,
									y = y,
								}
							end
						>>
					[/lua]
				[/event]
			[/do]
		[/foreach]

		{CLEAR_VARIABLE locs}

		{LOYAL_UNIT 3 (Dune Spearmaster) 54 11} {GUARDIAN}
		{LOYAL_UNIT 3 (Dune Ranger) 54 21} {GUARDIAN}
	[/event]

	[event]
		name=capture
		[filter]
			side=1
			x,y=33,30
		[/filter]

		{NAMED_LOYAL_UNIT 1 (Naga Warrior) 33 30 Xazalo (_ "Xazalo")}
		[+unit]
			[+modifications]
				{TRAIT_STRONG}
			[/modifications]
		[/unit]

		[message]
			speaker=unit
			message= _ "A naga! Kill it."
		[/message]

		[message]
			speaker=Xazalo
			message= _ "No, wait! I am not your enemy. I have lived here in the oasis among the villagers for years, but the undead came and I was forced to hide. Let me come with you and fight them!"
		[/message]

		[message]
			speaker=Muba
			message= _ "Very well. You may join us."
		[/message]
	[/event]

	[event]
		name=capture
		first_time_only=no

		[fire_event]
			name=check victory
		[/fire_event]
	[/event]

	[event]
		name=die
		first_time_only=no

		[fire_event]
			name=check victory
		[/fire_event]
	[/event]

	[event]
		name=check victory
		first_time_only=no

		[if]
			[not]
				[have_unit]
					side=2
				[/have_unit]
				[or]
					[have_location]
						owner_side=0
					[/have_location]
				[/or]
				[or]
					[have_location]
						owner_side=2
					[/have_location]
				[/or]
			[/not]
			[then]
				{END_VICTORY yes}
			[/then]
		[/if]
	[/event]

	[story]
		[part]
			story= _ "With the drakes retreating and the elite spearguard division reinforcing the Azraneen outpost, Muba's division could rest again. But soon a falcon arrived, bearing orders from the Emir instructing them to request heavy calvary units and support from the Razhaikib Emirate, the only other northern emirate. 'Unfortunantely,' wrote the Emir, 'We are unable to spare more spearguard divisions from the southern conflicts. I entrust you with full diplomatic power to extract aid from the Razhaikib.'"
		[/part]
		[part]
			story= _ "The Razhaikib Emirate lay to the east and slightly to the south of the Abhailah. There was a small valley between the two Emirates that was neutral territory, an artifact of some previous compromise. In the past it was a peaceful place where sheep grazed and horses roamed, but as Muba's division arrived they found something sinister waiting."
		[/part]
	[/story]

	[event]
		name=start

		[message]
			speaker=Muba
			message= _ "There is a foul fog over the valley. I smell decay in the air."
		[/message]

		{GENERIC_UNIT 2 (Revenant) 7 7}

		[message]
			x,y=7,7
			message= _ "Ha..ha..ha.. You, too, will die."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "This place has been overrun with undead!"
		[/message]

		[message]
			speaker=Muba
			message= _ "I'll wager every village is filled with the abominations. How could the Razhaikib have let this happen?"
		[/message]

		[message]
			speaker=Alanahid
			message= _ "Those cleanfeet won't get dirty over this place when it's not paying them taxes. It's up to us to purge the undead from every village and crevice."
		[/message]

		[objectives]
			[objective]
				condition=win
				description= _ "Kill all enemy units."
			[/objective]
			[objective]
				caption= _ "And:"
				condition=win
				description= _ "Capture all villages outside the Razhaikib border."
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]

	[event]
		name=sighted
		[filter]
			id=Leddon
		[/filter]
		[filter_second]
			side=1
		[/filter_second]

		[message]
			speaker=Leddon
			message= _ "Ah! Here they are, the sand men trying to destroy my valley."
		[/message]

		[message]
			speaker=Muba
			message= _ "You will soon die, necromancer. You have dared to desecrate the lands of the dunefolk."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "Your spawn will BURN under my fire."
		[/message]

		[message]
			speaker=Leddon
			message= _ "Bold words for low men. I am a servant of the great Adebelus and a member of the Inferno League."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "None of that will save you when I make you drink flaming naphtha."
		[/message]
	[/event]

	[event]
		name=last breath

		[filter]
			id=Leddon
		[/filter]

		[message]
			speaker=unit
			message= _ "No! Please!"
		[/message]

		[message]
			speaker=second_unit
			message= _ "Die, scum."
		[/message]
	[/event]

	[event]
		name=sighted
		[filter]
			id=Border Guard
		[/filter]
		[filter_second]
			side=1
		[/filter_second]

		[message]
			speaker=Muba
			message= _ "Razhaikib border guard! Why do you not clear the undead from this valley?"
		[/message]

		[message]
			speaker=unit
			message= _ "Abhailah, eh? This valley is neutral territory. We will not interfere outside our borders."
		[/message]

		[message]
			speaker=Muba
			message= _ "Many villagers have died because of the necromancy, and you did nothing! Will you not at least help now?"
		[/message]

		[message]
			speaker=unit
			message= _ "I will do nothing without orders from my emir. I can, however, cheer you on. Keep up the good work!"
		[/message]

		[message]
			speaker=Alanahid
			message= _ "<i>Cleanfoot coward.</i>"
		[/message]

		[message]
			speaker=Muba
			message= _ "At least send a message to your superiors. Let them know we come requesting aid and will meet with them after cleaning this valley."
		[/message]

		[message]
			speaker=unit
			message= _ "It will be done."
		[/message]

		[move_unit_fake]
			type=Falcon
			x=55,64
			y=17,14
			side=3
		[/move_unit_fake]
	[/event]

	[event]
		name=victory

		[message]
			speaker=Muba
			message= _ "We have purged the valley. It worries me that he claimed affiliation with the Inferno League. We don't know how powerful they really are."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "The drakes have fallen far if they are allying with necromancers. Years ago I respected their fire as a worthy enemy. No more."
		[/message]

		{NAMED_LOYAL_UNIT 3 (Dune Warmaster) 64 13 (General) (_ "Basiq al-Din")}

		[move_unit]
			id=General
			to_x,to_y=54,16
		[/move_unit]

		[message]
			speaker=General
			message= _ "That was a long journey to make so quickly."
		[/message]

		[message]
			speaker=Border Guard
			message= _ "Sir."
		[/message]

		[message]
			speaker=Muba
			message= _ "Who are you?"
		[/message]

		[message]
			speaker=General
			message= _ "I am general of the western Razhaikib border. What do you want, Abhailah?"
		[/message]

		[move_unit]
			id=Muba,Alanahid
			to_x,to_y=54,16
		[/move_unit]

		{ENSURE_VIEW}

		[message]
			speaker=Muba
			message= _ "We request your aid to defend our northern border against the drakes and their allies known as the Inferno League. The support of your piercer divisions and herbalist units will allow us to better hold the border and launch counterattacks."
		[/message]

		[message]
			speaker=General
			message= _ "Ah, you want our horses. Well, in light of the protection you have given us over the past century I can promise you some support."
		[/message]

		[message]
			speaker=Muba
			message= _ "Excellent. Your specialized calvary are the perfect tool to break through drake lines."
		[/message]

		[message]
			speaker=General
			message= _ "One little thing more: while I muster men and horses it would be most helpful of you to deal with a bit of an orc problem on our north-eastern border."
		[/message]

		[message]
			speaker=Muba
			message= _ "Orcs? Are you unable to deal with it yourself?"
		[/message]

		[message]
			speaker=General
			message= _ "We have been holding them back easily enough, but they are encamped in hills by the plains just beyond the desert. Your troops look much more suited to that terrain than our calvary."
		[/message]

		[message]
			speaker=Muba
			message= _ "Very well. We will deal with these orcs. I expect your support ready when we return."
		[/message]

		[message]
			speaker=General
			message= _ "Agreed. I will send three piercer units with you in advance."
		[/message]
	[/event]

	#undef RAZ_LAND
[/scenario]
