#textdomain wesnoth-ZitU

[scenario]
	{GSCENARIO}

	id=04_Shadowed_Sands
	name= _ "Shadowed Sands"
	map_data="{LD maps/Shadowed_Sands.map}"
	next_scenario=05_Mercenary_Work

	turns=30
	victory_when_enemies_defeated=no

	{DEFAULT_MUSIC_PLAYLIST}
	{DEFAULT_SCHEDULE_DAWN}

	{COMMON_DEATHS}

	#define RAZ_LAND
		x=54-99
		y=1-99
	#enddef

	[side]
		{SIDE_1}
		gold=100
		fog=yes
	[/side]

	[side]
		side=2
		controller=ai
		team_name=Enemy
		user_team_name=_ "Undead"

		type=Dark Sorcerer
		id=Leddon
		name= _ "Leddon"

		gold=100
		recruit=Skeleton,Skeleton Archer,Ghost,Soulless

		{FLAG_VARIANT6 ragged}

		[ai]
			[avoid]
				{RAZ_LAND}
			[/avoid]
		[/ai]
	[/side]
	{STARTING_VILLAGES_ALL 2}

	[side]
		side=3
		controller=ai
		share_vision=none
		team_name=Friendly,Enemy
		user_team_name= _ "Razhaikib"

		type=Dune Cataphract
		id=Basraj ibnJad
		name= _ "Basraj ibnJad"

		gold=0
		{NO_INCOME}
		{FLAG_DUNEFOLK}

		[ai]
			ai_algorithm=idle_ai
		[/ai]
	[/side]

	[event]
		name=prestart
		{SIDE_SETUP_1}

		[capture_village]
			side=3
			terrain="*^V*"
			{RAZ_LAND}
		[/capture_village]

		{LOYAL_UNIT 3 (Dune Spearmaster) 54 11} {GUARDIAN}
		{LOYAL_UNIT 3 (Dune Ranger) 54 21} {GUARDIAN}
	[/event]

	[event]
		name=capture
		first_time_only=no

		[fire_event]
			name=check victory
		[/fire_event]
	[/event]

	[event]
		name=die
		first_time_only=no

		[fire_event]
			name=check victory
		[/fire_event]
	[/event]

	[event]
		name=check victory
		first_time_only=no

		[if]
			[not]
				[have_unit]
					side=2
				[/have_unit]
				[or]
					[have_location]
						owner_side=0
					[/have_location]
				[/or]
				[or]
					[have_location]
						owner_side=2
					[/have_location]
				[/or]
			[/not]
			[then]
				{END_VICTORY yes}
			[/then]
		[/if]
	[/event]

	[event]
		name=capture
		first_time_only=no

		[filter]
			side=1
			[not]
				{RAZ_LAND}
			[/not]
			[and]
				[not]
					x,y=33,30
				[/not]
			[/and]
		[/filter]

		[lua]
			code=<<
				local x,y
				x = wesnoth.get_variable("x1")
				y = wesnoth.get_variable("y1")

				local types = {"Soulless", "Skeleton", "Skeleton Archer", "Revenant", "Deathblade", "Ghost", "Bone Shooter"}

				for i=1,math.max(1, math.ceil(x / 15)) do
					wexlfu.map.put_unit_vacant{
						type = wexlfu.math.choice(types),
						side = 2,
						x = x,
						y = y,
					}
				end
			>>
		[/lua]
	[/event]

	[event]
		name=capture
		[filter]
			side=1
			x,y=33,30
		[/filter]

		{NAMED_LOYAL_UNIT 1 (Naga Warrior) 33 30 Xazalo (_ "Xazalo")}
		[+unit]
			[+modifications]
				{TRAIT_STRONG}
			[/modifications]
		[/unit]

		[message]
			speaker=unit
			message= _ "A naga! Kill it."
		[/message]

		[message]
			speaker=Xazalo
			message= _ "No, wait! I am not your enemy. I have lived here in the oasis among the villagers for years, but the undead came and I was forced to hide. Let me come with you and fight them!"
		[/message]

		[message]
			speaker=Muba
			message= _ "Very well. You may join us."
		[/message]
	[/event]

	[story]
		[part]
			story= _ "With the drakes retreating and the elite spearguard division reinforcing the Azraneen outpost, Muba's division could rest again. But soon a falcon arrived, bearing orders from the Emir instructing them to request heavy calvary units and support from the Razhaikib Emirate, the only other northern emirate. 'Unfortunantely,' wrote the Emir, 'We are unable to spare more spearguard divisions from the southern conflicts. I entrust you with full diplomatic power to extract aid from the Razhaikib.'"
		[/part]
		[part]
			story= _ "The Razhaikib Emirate lay to the east and slightly to the south of the Abhailah. There was a small valley between the two Emirates that was neutral territory, an artifact of some previous compromise. In the past it was a peaceful place where sheep grazed and horses roamed, but as Muba's division arrived they found something sinister waiting."
		[/part]
	[/story]

	[event]
		name=start

		[message]
			speaker=Muba
			message= _ "There is a foul fog over the valley. I smell decay in the air."
		[/message]

		{GENERIC_UNIT 2 (Revenant) 7 7}

		[message]
			x,y=7,7
			message= _ "Ha..ha..ha.. You, too, will die."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "This place has been overrun with undead!"
		[/message]

		[message]
			speaker=Muba
			message= _ "I'll wager every village is filled with the abominations. How could the Razhaikib have let this happen?"
		[/message]

		[message]
			speaker=Alanahid
			message= _ "Those cleanfeet won't get dirty over this place when it's not paying them taxes. It's up to us to purge the undead from every village and crevice."
		[/message]

		[objectives]
			[objective]
				condition=win
				description= _ "Kill all enemy units."
			[/objective]
			[objective]
				caption= _ "And:"
				condition=win
				description= _ "Capture all villages outside the Razhaikib border."
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]

	#undef RAZ_LAND
[/scenario]
