#textdomain wesnoth-TIfL

[scenario]
	{GSCENARIO}

	id=06_Snowy_Peaks
	name= _ "Snowy Peaks"
	map_data="{LD maps/Snowy_Peaks.map}"
	next_scenario=06t_Green_hall

	turns=18
	{NEW_GOLD_CARRYOVER 40}

	{DEFAULT_MUSIC_PLAYLIST}
	{DEFAULT_SCHEDULE_DAWN}

	{COMMON_DEATHS}

	[side]
		{SIDE_1}
		gold=125
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=2
		controller=ai
		team_name=Enemy
		user_team_name= _ "Inferno League"

		type=Arch Mage
		id=Aven
		name=_ "Aven"
		gender=female

		recruit=Red Mage,Ogre,Mage,Young Ogre
		gold=200

		[ai]
			ai_algorithm=idle_ai
		[/ai]

		{FLAG_INFERNO}
	[/side]

	[event]
		name=recruit
		[filter]
			side=2
			type=Red Mage,Mage
		[/filter]

		[modify_unit]
			[filter]
				id=$unit.id
			[/filter]

			gender=female
		[/modify_unit]
	[/event]

	[event]
		name=prestart
		{SIDE_SETUP_2}

		[item]
			image=scenery/signpost.png
			x,y=7,1
		[/item]
	[/event]

	[event]
		name=start

		[objectives]
			[objective]
				condition=win
				description= _ "Move Muba to the other side of the pass."
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]

	[event]
		{E_SIGHTED (id=Aven)}

		[modify_side]
			side=2
			[ai]
				ai_algorithm=ai_default_rc
			[/ai]
		[/modify_side]

		[move_unit]
			id=Aven
			to_x,to_y=7,5
		[/move_unit]
	[/event]

	[event]
		name=moveto
		[filter]
			id=Muba
			x,y=7,1
		[/filter]

		{END_VICTORY yes}
	[/event]
[/scenario]
