#textdomain wesnoth-TIfL

[scenario]
	{GSCENARIO}

	id=06_Snowy_Peaks
	name= _ "Snowy Peaks"
	map_data="{LD maps/Snowy_Peaks.map}"
	next_scenario=06t_Green_hall

	turns=18
	{NEW_GOLD_CARRYOVER 40}

	{DEFAULT_MUSIC_PLAYLIST}
	{DEFAULT_SCHEDULE_DAWN}

	{COMMON_DEATHS}

	[side]
		{SIDE_1}
		gold=125
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=2
		controller=ai
		team_name=Enemy
		user_team_name= _ "Inferno League"

		type=Arch Mage
		id=Aven
		name=_ "Aven"
		gender=female

		recruit=Red Mage,Earth Golem
		gold=200

		max_moves=0

		{FLAG_INFERNO_LEAGUE}
	[/side]
	{FLAMING_CONVENT 2}

	[event]
		name=prestart
		{SIDE_SETUP_2}

		[item]
			image=scenery/signpost.png
			x,y=7,1
		[/item]
	[/event]

	[story]
		[part]
			story= _ "Muba's division stopped in Azraneen to communicate with their superiors. The drakes were still conducting regular raids to capture cattle and metals, but no invasion-scale attacks had occured. After receiving approval from the emir, they set out to the western border and north through a snowy mountain pass."
		[/part]
	[/story]

	[event]
		name=start

		[message]
			speaker=Razman
			message= _ "We must be nearly to the elves' forest now."
		[/message]

		[message]
			speaker=Alanahid
			message= _ "It's just over this pass. Stay warm, it never thaws up here."
		[/message]

		[message]
			speaker=Muba
			message= _ "There was a mighty battle fought with the elves here in the Abhailah Emirate's early days. Though the elven army was much stronger, the first emir of Abhaila held the line in the middle of winter for ten days. That battle resulted in a pact being signed ensuring that neither side could build permanent fortification in the pass."
		[/message]

		[objectives]
			[objective]
				condition=win
				description= _ "Move Muba to the other side of the pass."
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]

	[event]
		{E_SIGHTED (id=Aven)}

		[modify_unit]
			[filter]
				id=Aven
			[/filter]

			moves=5
			max_moves=5
		[/modify_unit]

		[message]
			speaker=Aven
			message= _ "Intruders, do you dare enter my pass? Prepare to meet your- oh hell, you're dunefolk. You don't happen to be the same dunefolk that killed Leddon?"
		[/message]

		[message]
			speaker=Muba
			message= _ "We are Abhailah Guardians. Stand aside and let us pass or we will crush you like we crushed that necromancer."
		[/message]

		[message]
			speaker=Aven
			message= _ "Ignacia would never forgive me if I ran. Turn back now or meet your deaths at the hands of Aven, mage of Ignacia's Flaming Convent and servant of the Inferno League. I will not allow you to enter the forest."
		[/message]

		[move_unit]
			id=Aven
			to_x,to_y=7,5
		[/move_unit]

		[message]
			speaker=Alanahid
			message= _ "Our reputation precedes us. We should be careful; despite all her apprehension, she looks to be a powerful mage."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			race=golem
		[/filter]

		[message]
			speaker=second_unit
			message= _ "That was a tough beast!"
		[/message]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Aven
		[/filter]
		[message]
			speaker=Aven
			message= _ "Ignacia will avenge me."
		[/message]
	[/event]

	[event]
		name=moveto
		[filter]
			id=Muba
			x,y=7,1
		[/filter]

		[message]
			speaker=Aven
			message= _ "I have failed."
		[/message]

		{END_VICTORY yes}
	[/event]
[/scenario]
